<div class="container" style="width: 100%">
  <div class="InterContainer">
    <br>
    <h2 align="center">About us</h2>
    <hr color="black" style="width: 50%; align-content: center;"  noshade />
    <br>
  </div>
  <div class="infoContainer">
    <img id="img" src="./assets/img/MSCC_nobg.png" width="360" height="310"  />
    <p ALIGN="justify" style="width: 40%;"> Siamo un gruppo di amici universitari che si sono divertiti a creare questo sito web quasi per gioco per poi arrivare ad inserirlo nel progetto dell'esame di base di dati. La nostra unione non deriva da anni ed anni di amicizia, il gruppo si è fromato circa un anno fa, ma dalla passione per l'informatica e la stessa voglia di vivere e scherzare.</p>
  </div>
  <div class="InterContainer">
    <br>
    <h2 align="center">About the project</h2>
    <hr color="black" style="width: 50%; align-content: center;"  noshade />
    <br>
  </div>
  <div class="infoContainer">
    <p ALIGN="justify" style="width: 40%;"> Il progetto, denominato "Scroking", prende il nome dalla grande capacità di un componente del gruppo di riuscire a non pagare mai nulla, in gergo "scroccare". Si è pensato di usare questo nome per il progetto dell'esame di base di dati. Seguiranno aggiornamenti.</p>
    <img id="img" src="./assets/img/scroking_black.png" width="300" height="150"  />
  </div>

</div>

