<div class="containerEmail">
  <div class="contactEmail">
    <h1>CONTATTACI</h1>
  </div>
  <div class="contactEmail">
    <h3>Vuoi consigliarci qualcosa? Contattaci!</h3>
    <h3>Risponderemo il prima possibile.</h3>
    <form action="mailto:someone@example.com" enctype="text/plain" method="post">
      Nome:<br>
      <input name="name" type="text"><br>
      E-mail:<br>
      <input name="mail" type="text"><br>
      Testo:<br>
      <input name="comment" size="50" type="text"><br><br>
      <input type="submit" value="Invia">
      <input type="reset" value="Cancella">
    </form>
  </div>
</div>

  <div class="contactIconContainer">
    <div class="contactIconItem">
      <img src="./assets/img/email.png" width="100px" height="100px"/>
      <p align="center">bookyourholiday@scroking.com</p>
    </div>
    <div class="contactIconItem" >
      <img src="./assets/img/cornetta.png" width="100px" height="100px"/>
      <p align="center">+39 0874-51987</p>
    </div>
    <div class="contactIconItem">
      <img src="./assets/img/posizione.png" width="80px" height="100px"/>
      <p align="center">Viale dell'Università, 86090 Pesche IS</p>
    </div>
  </div>
<br>
<br>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11934.572039297524!2d14.237880193693046!3d41.59860511792425!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x133a8092fdcbaf0b%3A0x4fa28b9984fabd42!2sUNIMOL+-+Dipartimento+di+Bioscienze+e+Territorio+-+via+Hertz%2C+86090+-+Pesche+(IS)!5e0!3m2!1sit!2sit!4v1548502787034" width="100%" height="800px" frameborder="0" style="border:0" allowfullscreen></iframe>
