<div class="intersezioni">
    <table width="100%" align="center">
        <tr>
            <td align="center">
                <h2>Tutti meritano una vacanza. Ora tocca a te!</h2>
                <h1 style="font-size: 30px">VIAGGIA CON NOI</h1>
                <p>Trova le offerte migliori nelle nostre agenzie e prenota a prezzi bassissimi.</p>
            </td>
        </tr>
    </table>
</div>
<br>
<div class="testo" align="center" style="width: 100%">
    <br>
    <br>
    <br>

    <h1>Le tre destinazioni più gettonate:</h1>
    <table>
        <tr>

            <td>
                <div class="item" style="width: 400px; height: 200px">
                    <img src="./assets/img/roma.jpg" alt="roma" >
                    <div class="item-overlay top"></div>
                </div>
            </td>
            <td>
                <div class="item" style="width: 400px; height: 200px">
                    <img src="./assets/img/londra.png" alt="londra" >
                    <div class="item-overlay top"></div>
                </div>
            </td>
            <td>
                <div class="item" style="width: 400px; height: 200px">
                    <img src="./assets/img/new_york.png" alt="new_york" >
                    <div class="item-overlay top"></div>
                </div>
            </td>
        </tr>
    </table>

    <br>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="intersezioni" style="width: 100%" align="center">
    <table>
        <tr>
            <td>
                <img id="img" src="./assets/img/regalo.png" width="150" height="100" style="margin: auto" align="center"/>
            </td>
            <td>
                <h1 align="left">Perchè scegliere scroKING?</h1>
                <b align="justify">Scroking ti permette di avere sconti per ogni amico che porti sulla nostra piattaforma.</b>

            </td>
        </tr>
    </table>

</div>
<br>
<br>
<br>
<div class="testo" align="center" style="width: 100%">
    <br>
    <br>
    <br>
    <h1>Valuta i prossimi viaggi:</h1>
    <table>
        <tr>
            <td>
                <div class="item" style="width: 400px; height: 200px">
                    <img src="./assets/img/mare.png" alt="roma" >
                    <div class="item-overlay top"></div>
                </div>
            </td>
            <td>
                <div class="item" style="width: 400px; height: 200px">
                    <img src="./assets/img/montagna.png" alt="roma" >
                    <div class="item-overlay top"></div>
                </div>
            </td>
            <td>
                <div class="item" style="width: 400px; height: 200px">
                    <img src="./assets/img/resort.png" alt="roma" >
                    <div class="item-overlay top"></div>
                </div>
            </td>
        </tr>
    </table>
    <table>
        <tr>
            <td >
                <div class="item" style="width: 400px; height: 200px">
                    <img src="./assets/img/spa.png" alt="roma" >
                    <div class="item-overlay top"></div>
                </div>
            </td>
            <td >
                <div class="item" style="width: 400px; height: 200px">
                    <img src="./assets/img/rstorante.png" alt="roma" >
                    <div class="item-overlay top"></div>
                </div>
            </td>
        </tr>
    </table>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>
